
<html>
  <head>
  	<title>Binary Operation Page</title>	
  </head>
    	<table>
        	<form method='POST' action='http://localhost:5000/operation'>
    			<tr>
     				<td>Number 1:</td>
    				<td><input type='number'   name='no1'  placeholder='Enter No 1'></td>
    			</tr>
    			<tr>
    				<td>Number 2:</td>
    				<td><input type='number'   name='no2'  placeholder='Enter No 2'></td>
    			</tr>
    			<tr>
    				<td><input type='submit' name='btn'  value='+'></td>
                </tr>
                <tr>
                    <td><input type='submit' name='btn' value='-'></td>
                </tr>
                <tr>
    				<td><input type='submit' name='btn' value='*'></td>
                </tr>
                <tr>
    				<td><input type='submit' name='btn' value='/'></td>
                </tr>
    		</form>
    	</table>
 </html>
    