<html>
<head>
    <title>Profile page</title>
</head>
<body>
	<form method='POST' action='http://localhost:5000/process'>
		<table>
			
            <tr>
   			<td>
  				Name       :<input type='text' name='name' placeholder=''>
			</td>
			</tr>
            
			<tr>
			<td>Email      :<input type='email' name='tmobile' placeholder='' ></td>
			</tr>
            <tr>
			<td>Mobile No  :<input type='number' name='tmobile' placeholder='' ></td>
			</tr>
            <tr>
			<td>City       :<input type='text' name='tcity' placeholder='' ></td>
			</tr>
            <tr>
			<td>Password       :<input type='text' name='pass' placeholder='' ></td>
			</tr>
            <tr>
			<td>confirm Password:<input type='text' name='cpass' placeholder='' ></td>
			</tr>
            
           
           
			<tr>
			<td>
			<input type='submit' value='Submit'>
			</td>
			</tr>
		</table>
	</form>
</body>
</html>
    