<html>
  <head>
  	<title>Login Page</title>	
  </head>
    	<table>
        	<form method='POST' action='http://localhost:5000/process'>
                
            
    			<tr>
     				Username:<br>
    				<input type='text'   name='tuser'  placeholder='Username'><br>
    			</tr>
    			
    			<tr>
    				<td><input type='submit' value='Login'></td><br>
    			</tr>
                <tr>
                <h1 style=color:red>{{msg}}<br></h1>
                </tr>
              </form>
    	</table>
 </html>
    